@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #D9CEB2;
    color: #33646F;
}

.cabecalho {
    padding: 2% 0% 0% 10%;

}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    color: #7A6A53;
    text-decoration: none;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family:  "Krona One", serif;
}

.titulo-destaque {
    color: #7A6A53;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: "Krona One", serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__redes {
    /* background-color: #7A6A53; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #7A6A53;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Montserrat", serif;
}

.apresentacao__links__redes:hover {
    background-color: #2727272d;
}

.rodape {
    padding: 24px;
    color: #F6F6F6;
    background-color: #33646F;
    text-align: center;
    font-family: "Montserrat", serif;
}

.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: #7A6A53;
}